body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: var(--white);

  background: var(--very-dark-blue);

  height: calc(100% - 10%);
  overflow: hidden;
}

.container {
  width: 850px;
  height: 350px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  margin: 10% auto;

  position: relative;

  background: var(--dark-desaturated-blue);
  border-radius: 0.4rem;
}

.main-text {
  width: 550px;

  padding: 3.5rem;
}

.container .main-text .title {
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;

  margin-bottom: 1.5rem;
}

.container .main-text .title span {
  color: var(--soft-violet);
}

.container .main-text .paragraph {
  font-size: 0.8rem;

  line-height: 1.4rem;
  text-align: justify;
  color: var(--slightly-transparent-white);

  margin-bottom: 3.5rem;
}

.highlight-text {
  display: flex;
  justify-content: space-between;
}

.highlight-text span {
  display: block;

  font-weight: bold;
  font-size: 1rem;

  text-transform: uppercase;
  color: var(--white);

  margin-bottom: 0.5rem;
}

.highlight-text p {
  font-family: "Inter", sans-serif;
  font-size: 0.6rem;
  font-weight: 300;

  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--slightly-transparent-white);
}

.show-image img {
  width: 400px;
  height: 100%;
}

.show-image::before {
  content: "";

  width: 400px;
  height: 350px;

  background: var(--soft-violet);

  opacity: 0.6;
  border-radius: 0.4rem;

  position: absolute;
}

@media (max-width: 576px) {
  body {
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    color: var(--white);

    background: var(--very-dark-blue);

    height: calc(100% - 10%);
    overflow: hidden;
  }

  .container {
    width: 230px;
    height: 550px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    margin: 10% auto;

    background: var(--dark-desaturated-blue);
    border-radius: 0.4rem;
  }

  .main-text {
    width: 230px;

    padding: 25rem 0 0 0;

    z-index: 1;
  }

  .container .main-text .title {
    font-size: 1.2rem;
    text-align: center;

    margin-bottom: 1rem;
  }

  .container .main-text .paragraph {
    font-size: 0.7rem;
  
    text-align: center;
  
    margin-bottom: 1.5rem;
  }

  .highlight-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .highlight-text span {
    font-size: .9rem;
  }

  .highlight-text p {
    font-size: 0.5rem;
    text-align: center;
  }

  .show-image{
    position: absolute;
  }

  .show-image::before {
    content: "";
    
    width: 100%;
    height: 148px;
    
    background: var(--soft-violet);
    
    opacity: 0.6;
    border-radius: 0.4rem;
    
    position: absolute;
  }

  .show-image img {
    width: 200px;
  }
}